html{
  scroll-behavior: smooth;
}


.agro-logo{
  margin-bottom: 50px;
  width: 12rem;
  cursor: pointer;
  margin-top: 80px;
}



.uploaded-image {
  object-fit:fill;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.homepage{
  background-image: url("agro home bg.jpg");
  background-size: 40rem;
  background-repeat:repeat;
}

.container{
  /* background: linear-gradient(#290055, rgb(80 2 56)); */
  background: linear-gradient(to right, #2c0434, #68183b, #230742);
    /* background-image: url("agrovision/hero-bg-bottom-2.png"),
                      url("agrovision/hero-bg.png"),
                      var(--gradient-1);

    
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -280px bottom, center, center;
    background-size: auto, cover, auto;
    padding-block-start: 120px;
    padding-block-end: var(--section-padding); */

}

.file-upload{
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.file-upload input{
  display: none;
}

.button{
    width: 10vw;
    height: 50px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 5px 15px 5px 15px;
    background: linear-gradient(90deg, #3a0160 10%, #5f0aaf 90%);
    border: 1px solid #691084;
    box-shadow: #5b0974 0px 0px 10px;
    cursor: pointer;
    transition: transform 3s ease;
}

.button:hover{
  transform: scale(1.009);
  background: linear-gradient(90deg, #4e0182 10%, #6f0dcb 90%);
  border: 1px solid #771196;
  box-shadow: #760c97 0px 0px 10px;
}


#result{
  background: linear-gradient(to right, #2c0434, #68183b, #230742);
  display:none;
}


/* .typing {
  overflow: hidden;
  border-right: 3px solid; 
  animation: blink-caret 1s step-end infinite;
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  display: inline-block; 
}


@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: rgb(255, 255, 255); }
} */


.typing {
  overflow: hidden;
  white-space: pre-wrap; /* Allows the text to wrap properly */
  word-wrap: break-word;
  display: inline-block;
}

.caret {
  display: inline;
  font-weight: bold;
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}
